<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cmfg.mapper.ProjectMapper">
    
    <resultMap type="Project" id="ProjectResult">
        <result property="projId"    column="projId"    />
        <result property="rlsTime"    column="rlsTime"    />
        <result property="numT"    column="numT"    />
        <result property="userId"    column="userId"    />
        <result property="finish"    column="finish"    />
    </resultMap>

    <resultMap id="ProjectTaskResult" type="Project" extends="ProjectResult">
        <collection property="taskList" notNullColumn="sub_taskId" javaType="java.util.List" resultMap="TaskResult" />
    </resultMap>

    <resultMap type="Task" id="TaskResult">
        <result property="taskId"    column="sub_taskId"    />
        <result property="serType"    column="sub_serType"    />
        <result property="proceTime"    column="sub_proceTime"    />
        <result property="proceVol"    column="sub_proceVol"    />
        <result property="succs"    column="sub_succs"    />
        <result property="projId"    column="sub_projId"    />
    </resultMap>

    <sql id="selectProjectVo">
        select projId, rlsTime, numT, userId, finish from project
    </sql>

    <select id="selectProjectList" parameterType="Project" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        <where>  
            <if test="rlsTime != null "> and rlsTime = #{rlsTime}</if>
            <if test="numT != null "> and numT = #{numT}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="finish != null "> and finish = #{finish}</if>
        </where>
    </select>
    
    <select id="selectProjectByProjId" parameterType="Long" resultMap="ProjectTaskResult">
        select a.projId, a.rlsTime, a.numT, a.userId, a.finish,
 b.taskId as sub_taskId, b.serType as sub_serType, b.proceTime as sub_proceTime, b.proceVol as sub_proceVol, b.succs as sub_succs, b.projId as sub_projId
        from project a
        left join task b on b.projId = a.projId
        where a.projId = #{projId}
    </select>
        
    <insert id="insertProject" parameterType="Project">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projId != null">projId,</if>
            <if test="rlsTime != null">rlsTime,</if>
            <if test="numT != null">numT,</if>
            <if test="userId != null">userId,</if>
            <if test="finish != null">finish,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projId != null">#{projId},</if>
            <if test="rlsTime != null">#{rlsTime},</if>
            <if test="numT != null">#{numT},</if>
            <if test="userId != null">#{userId},</if>
            <if test="finish != null">#{finish},</if>
         </trim>
    </insert>

    <update id="updateProject" parameterType="Project">
        update project
        <trim prefix="SET" suffixOverrides=",">
            <if test="rlsTime != null">rlsTime = #{rlsTime},</if>
            <if test="numT != null">numT = #{numT},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="finish != null">finish = #{finish},</if>
        </trim>
        where projId = #{projId}
    </update>

    <delete id="deleteProjectByProjId" parameterType="Long">
        delete from project where projId = #{projId}
    </delete>

    <delete id="deleteProjectByProjIds" parameterType="String">
        delete from project where projId in 
        <foreach item="projId" collection="array" open="(" separator="," close=")">
            #{projId}
        </foreach>
    </delete>
    
    <delete id="deleteTaskByProjIds" parameterType="String">
        delete from task where projId in 
        <foreach item="projId" collection="array" open="(" separator="," close=")">
            #{projId}
        </foreach>
    </delete>

    <delete id="deleteTaskByProjId" parameterType="Long">
        delete from task where projId = #{projId}
    </delete>

    <insert id="batchTask">
        insert into task( taskId, serType, proceTime, proceVol, succs, projId) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.taskId}, #{item.serType}, #{item.proceTime}, #{item.proceVol}, #{item.succs}, #{item.projId})
        </foreach>
    </insert>
</mapper>